@model List<string>
@{
    ViewBag.Title = "Home";
}
<section class="userHistory clearfix">
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <div class="erp-module">
                <h3>

                    <a href="#">
                        <i class="fa fa-area-chart"></i>
                        <span style="font-size:22px;">120</span>
                        <span>Total Project</span>
                    </a>
                </h3>

            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <div class="erp-module">
                <h3>
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span style="font-size:22px;">20000</span>
                        <span>Total Task</span>
                    </a>
                </h3>
            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <div class="erp-module">
                <h3>
                    <a href="#">
                        <i class="fa fa-money"></i>
                        <span style="font-size:22px;">1500</span>
                        <span>Complte Task</span>
                    </a>
                </h3>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <div class="erp-module">
                <h3>
                    <a href="#">
                        
                        <i class="fa fa-calculator"></i>
                        <span style="font-size:22px;">50</span>
                        <span>Doing Task</span>
                    </a>
                </h3>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <div class="erp-module">
                <h3>
                    <a href="#">
                        <i class="fa fa-tasks"></i>
                        <span style="font-size:22px;">500</span>
                        <span>Pending Task</span>
                    </a>
                </h3>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <div class="erp-module">
                <h3>
                    <a href="#">
                        
                        <i class="fa fa-users"></i>
                        <span style="font-size:22px;">20</span>
                        <span>Total Member</span>
                    </a>
                </h3>
            </div>
        </div>

    </div>
</section>


<section class="innerSection clearfix padding-top-none">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <div class="erp-module" style="background-color:#E1E3E4; color: #fff;">
                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <div class="erp-module">

                <div class="table-responsive">
                    <table id="gvDataList" class="table demo dataTable" data-filter="#filter" data-page-size="20">
                        <thead>
                            <tr>
                                <th style="text-align:center;padding-top:10px;">
                                    User
                                </th>
                                <th style="text-align:center;padding-top:10px;">
                                    Status
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.Raw(item)
                                        </td>
                                        <td style="color:green; font-weight:900;">
                                            Online
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script>
        const xValues = ["Total", "Complte", "Doing", "Pending"];
        const yValues = [55, 49, 44, 24];
        const barColors = [
            "#b91d47",
            "#00aba9",
            "#2b5797",
            "#e8c3b9"
           
        ];

        new Chart("myChart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Task Information"
                }
            }
        });
    </script>
</section>